n8n/workflows/daily-informessi.json
{
  "name": "InforMessi - Flujo Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger (8:00 AM)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "command": "cd /home/sebastian-mesch-henriques/Escritorio/Personal/InforMessi && source venv/bin/activate && export $(grep -v '^#' .env | grep -v '^$' | xargs) && python3 scripts/collect-daily-data.py --date $(date +\"%Y-%m-%d\") --output /tmp/informessi-datos-$(date +\"%Y-%m-%d\").json",
        "options": {}
      },
      "id": "collect-data",
      "name": "Recolectar Datos",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "command": "cd /home/sebastian-mesch-henriques/Escritorio/Personal/InforMessi && source venv/bin/activate && python3 scripts/generate-message.py --data /tmp/informessi-datos-$(date +\"%Y-%m-%d\").json --output /tmp/informessi-mensaje-$(date +\"%Y-%m-%d\").txt",
        "options": {}
      },
      "id": "generate-message",
      "name": "Generar Mensaje",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "command": "cat /tmp/informessi-mensaje-$(date +\"%Y-%m-%d\").txt",
        "options": {}
      },
      "id": "read-message",
      "name": "Leer Mensaje",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_PREVIEW_CHAT_ID }}",
        "text": "={{ $json.stdout }}\n\n\n👆 Mensaje generado para revisión",
        "additionalFields": {
          "replyMarkup": {
            "inlineKeyboard": [
              [
                {
                  "text": "✅ Aprobar",
                  "callbackData": "approve"
                },
                {
                  "text": "❌ Rechazar",
                  "callbackData": "reject"
                },
                {
                  "text": "✏️ Editar",
                  "callbackData": "edit"
                }
              ]
            ]
          }
        }
      },
      "id": "send-preview",
      "name": "Enviar Preview a Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.callback_query.data }}",
              "operation": "equal",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "check-approval",
      "name": "Verificar Aprobación",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_PUBLISH_CHAT_ID }}",
        "text": "={{ $json.callback_query.message.text }}",
        "additionalFields": {}
      },
      "id": "publish-message",
      "name": "Publicar Mensaje",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_PREVIEW_CHAT_ID }}",
        "text": "✅ Mensaje publicado exitosamente",
        "additionalFields": {}
      },
      "id": "confirm-publish",
      "name": "Confirmar Publicación",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-credentials",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Cron Trigger (8:00 AM)": {
      "main": [[{"node": "Recolectar Datos", "type": "main", "index": 0}]]
    },
    "Recolectar Datos": {
      "main": [[{"node": "Generar Mensaje", "type": "main", "index": 0}]]
    },
    "Generar Mensaje": {
      "main": [[{"node": "Leer Mensaje", "type": "main", "index": 0}]]
    },
    "Leer Mensaje": {
      "main": [[{"node": "Enviar Preview a Telegram", "type": "main", "index": 0}]]
    },
    "Enviar Preview a Telegram": {
      "main": [[{"node": "Verificar Aprobación", "type": "main", "index": 0}]]
    },
    "Verificar Aprobación": {
      "main": [
        [{"node": "Publicar Mensaje", "type": "main", "index": 0}],
        [{"node": "Confirmar Publicación", "type": "main", "index": 0}]
      ]
    },
    "Publicar Mensaje": {
      "main": [[{"node": "Confirmar Publicación", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-22T00:00:00.000Z",
  "versionId": "1"
}

